<div class="nav">
   <a
      [routerLinkActive]="'active'"
      routerLink="./"
      [routerLinkActiveOptions]="{ exact: true }"
   >
      Default
   </a>
   <a
      [routerLinkActive]="'active'"
      routerLink="/deep-form-signal"
      [routerLinkActiveOptions]="{ exact: true }"
   >
      Deep Form Signal
   </a>
   <a
      [routerLinkActive]="'active'"
      routerLink="/form-array"
      [routerLinkActiveOptions]="{ exact: true }"
   >
      Form Array
   </a>
   <a
      [routerLinkActive]="'active'"
      routerLink="/form-subscription-destroying"
      [routerLinkActiveOptions]="{ exact: true }"
   >
      Subscription Destroying
   </a>
</div>

<div class="route">
   <router-outlet></router-outlet>
</div>
