.content {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   gap: 1em;
   margin: 1em;
   .overall-info {
      flex: 1;
      width: 100%;
   }
   .form-controls {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 2em;
   }
}
