:host {
   display: flex;
   flex-direction: column;
   height: 100%;
   .nav {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5em;
      border-bottom: 1px solid gray;
      a {
         padding: 0.5em;
         display: block;
      }
   }
   .route {
      flex: 1;
   }
}
