:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: gray;
  padding: 2px;
  gap: 2px;
}

.form-controls {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

form-info,
name-control,
email-control,
message-control {
  padding: 1em;
  background-color: white;
}
