:host {
   height: 100%;
}
.content {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   background-color: gray;
   height: 100%;
   gap: 0.25em;
   .overall-info {
      width: 100%;
   }
   .form-controls {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 0.25em;
   }

   form-info,
   name-control,
   email-control,
   message-control {
      padding: 1em;
      // border-bottom: 3px solid rgb(44, 206, 255);
      border-radius: 0.5em;
      background-color: white;
   }
}
